<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="navbars :: head">
    <meta charset="UTF-8">
    <title>Kluby piłkarskie</title>
</head>
<body style="background-color: lightyellow">
<div th:replace="navbars :: header"></div>
<div class="content">
    <div class="col-12">
        <h1>Wybierz kraj:</h1>
        <a href="/clubs">Wszystkie / </a>
        <a th:each="country : ${T(pl.javastart.clubs.model.Country).values()}" th:text="|${country.name} / |" th:href="@{|/clubs?country=${country}|}">dsad</a>
    </div>

        <table class="table">
        <thead>
        <tr>
            <th>
                <a href="/clubs?sort=name">
                    Nazwa
                </a>
            </th>
            <th>
                <a href="/clubs?sort=sport">
                    Dyscyplina
                </a>
            </th>
            <th>
                <a href="/clubs?sort=country">
                    Kraj
                </a>
            </th>
            <th>
                <a href="/clubs?sort=foundationDate">
                    Data założenia
                </a>
            </th>
            <th>
                <a href="/clubs?sort=likes">
                    Polubienia
                </a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="club: ${clubs}">
            <td>
                <a th:href="'/club/' + ${club.id}" th:text="${club.name}"></a>
            </td>
            <td th:text="${club.sport.getName()}"></td>
            <td th:text="${club.country.getName()}"></td>
            <td th:text="${club.foundationDate}"></td>
            <td th:text="${club.likes}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>