<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="navbars :: head">
    <meta charset="UTF-8">
    <title>Świat futbolu</title>
</head>
<body style="background-color: lightyellow">
<div th:replace="navbars :: header"></div>
<div class="content">
    <h1 style="text-align: center" class="mt-4">NAJPOPULARNIEJSZE KLUBY</h1>
    <div class="row">
        <div class="col-lg-7">
            <ul>
                <li th:each="club: ${clubs}">
                    <h3><a th:href="'/club/' + ${club.id}" th:text="${club.name}"></a></h3>
                </li>
            </ul>
        </div>

        <div class="col-lg-5">
            <br/>
            <img class="col-12" src="/sport.jpeg" width="700" height="600"/>
        </div>
    </div>
</body>
</html>